/* цвет заголовков #212121*/
/* цвет текста #757575*/
/* цвет текста в секции Hero, на кнопке в секции Hero, на логотипе #FFFFFF*/
/* цвет основного бэкграунда страниц #FFFFFF*/
/* цвет имейла и телефона в футере rgba(255, 255, 255, 0.6)*/
/* цвет лого в хедере #2196F3 и #000000*/
/* цвет лого в футере #2196F3 и #FFFFFF*/
/* цвет ховера кнопки в секции Hero #188ce8*/
/* цвет бэкграунда секции Наша команда #F5F4FA*/
/* цвет бэкграунда секции Hero и футера #*#2F303A*/
/* синий цвет акцента #2196f3*/

:root {
  --primary-white-color: #ffffff;
  --title-color: #212121;
  --text-color: #757575;
  --accent-blue-color: #2196f3;
  --black-color: #000000;
  --hero-footer-background-color: #2f303a;
  --button-filters-background-color: #f5f4fa;
  --hover-button-hero-section: #188ce8;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

/* Визуально скрываем заголовки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Глобальный стиль для body*/

body {
  background-color: var(--primary-white-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

/* Сброс точек маркеров */

.no-marker {
  list-style: none;
}

/* Сброс наклонного шрифта в тэге address */

.normal-style {
  font-style: normal;
}

/* Сброс подчеркивания у ссылок*/

.no-underline {
  text-decoration: none;
}

/* Лого в шапке и в футере */

.logo-start {
  color: var(--accent-blue-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-logo-end {
  color: var(--black-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-logo-end {
  color: var(--primary-white-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/*Навигация в хедере*/

.nav-link {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--accent-blue-color);
}

.nav-contacts {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-contacts:hover,
.nav-contacts:active,
.nav-contacts:focus {
  color: var(--accent-blue-color);
}

.nav-link.current {
  color: var(--accent-blue-color);
}

/* Секция герой */

.hero {
  background-color: var(--hero-footer-background-color);
  text-align: center;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-blue-color);
  color: var(--primary-white-color);
}

.hero-button:hover,
.hero-button:active,
.hero-button:focus {
  background-color: var(--hover-button-hero-section);
}

/*Стили в секциях*/
/* Секции на Главной странице */

.feature-section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.members-section-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.section-team {
  background-color: #f5f4fa;
}

/* Футер */

.section-footer {
  background-color: var(--hero-footer-background-color);
  color: var(--primary-white-color);
}

.footer-address {
  color: var(--primary-white-color);
}

.footer-contacts {
  color: var(--footer-contacts-color);
}

.footer-address:hover,
.footer-address:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-blue-color);
}

/*Секция на странице Портфолио*/

.portfolio-section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-item {
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
}

/* Кнопки-фильтры страницы Портфолио*/

.button-filters {
  font-family: inherit;
  background-color: var(--accent-blue-color);
  color: var(--primary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.button-filers:hover,
.button-filers:active,
.button-filers:focus {
  background-color: var(--accent-blue-color);
  color: var(--primary-white-color);
}

.button-blue {
  background-color: var(--accent-blue-color);
  color: var(--primary-white-color);
}

.button-grey {
  background-color: var(--button-filters-background-color);
  color: var(--title-color);
}

.button-grey:active,
.button-grey:hover,
.button-grey:focus {
  background-color: var(--accent-blue-color);
  color: var(--primary-white-color);
}

.pointer {
  cursor: pointer;
}
